<!DOCTYPE html>
<html lang="en">

<head>
    <title>PhysiLink... </title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!--<script type="text/javascript" src="click.js"></script>-->

</head>
 <style>
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
 
    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://localhost:5000/">Inbox</a>
                    </li>
                    <li role="presentation"><a href="http://localhost:5000/showSentBox">Sent Items</a>
                    </li>
                    <li role="presentation"><a href="http://localhost:5000/showSignUp">Create New Email</a>
                    </li>
                </ul>
            </nav>
		<img src="http://i1043.photobucket.com/albums/b434/kmills220/Logo_zpsuhlwvgla.png" alt="logo" height=120px width= 240px>
        </div>


        <div class="jumbotron">
            <p class="lead"></p>
 	<p><a class="btn btn-lg btn-success" href="hello" role="button">Connect</a>
            </p>
	<p><a class="btn btn-lg btn-success" href="createUser" role="button">Create User</a>
            </p>
 	<p><a class="btn btn-lg btn-success" href="createVault" role="button">Vault</a>
            </p>

<table>
  <tr>
    <th>Name</th>
    <th>Provider Number</th>
    <th> Subject </th>
    <th>Document ID </th>
  </tr>
 
{% for key in result %}
 <tr>

<td>  {{ key.name }} </a></td>
<td>  {{ key.provider}} </a></td>
<td> {{ key.subject }} </td>.
<td name = key ><a href="sentItems/{{ key.doc_id }}">  {{ key.doc_id }} </a></td>

<!-- <td> {{ key.name }} </td>
<td> {{ key.id }} </td>-->
  </tr>
{% endfor %}
</table>



 </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>

